<div
  class="modal fade"
  id="modal-add"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        action="/admin/categories"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="input-title">Category Name</label>
            <input
              type="text"
              name="title"
              class="form-control"
              id="input-title"
              placeholder="category name"
              required
            />
          </div>
          <div class="form-group">
            <label for="input-photo">Upload Photo</label>
            <input
              type="file"
              name="image"
              class="form-control"
              id="input-photo"
              placeholder="upload photo"
              required
            />
          </div>
          <div class="form-group">
            <label for="input-price">Price per-session</label>
            <input
              type="number"
              name="price"
              class="form-control"
              id="input-price"
              placeholder="Price"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
