<div
  class="modal fade"
  id="modal-add"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Users</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/admin/users" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="input-name">FullName</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="input-name"
              placeholder="your fullname"
              required
            />
          </div>
          <div class="form-group">
            <label for="input-email">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              id="input-email"
              placeholder="usename@email.co.x"
              required
            />
          </div>
          <div class="form-group">
            <label for="input-password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="input-password"
              placeholder="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="select_roles">Roles</label>
            <select class="form-control" name="role" id="select_roles">
              <option value="user">user</option>
              <option value="admin">admin</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
